<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="ngOnInit(); $event.target.complete()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Noticias solo si hay usuario logueado -->
  <ion-list *ngIf="!cargando && currentUser">
    <ion-item *ngFor="let n of noticias">
      <ion-thumbnail slot="start">
        <img [src]="n.urlToImage || 'assets/no-image.png'" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ n.title }}</h2>
        <p>
          <span>{{ obtenerBandera(n.source.name) }}</span>
          {{ n.source.name }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Spinner mientras cargan las noticias -->
  <ion-spinner *ngIf="cargando" class="ion-padding"></ion-spinner>

</ion-content>

<!-- Botones de Login y Registro si NO hay usuario logueado -->
<ion-footer *ngIf="!currentUser">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button expand="block" color="primary" (click)="goToLogin()">
        Iniciar sesión
      </ion-button>
      <ion-button expand="block" color="secondary" (click)="goToRegister()">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
