<ion-list [formGroup]="form">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="onSubmit()" [disabled]="form.invalid" class="ion-margin-top">
    Enviar
  </ion-button>
</ion-list>